* {
    box-sizing: border-box;
    font-family: 'Digital7', 'Lucida Sans', sans-serif;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Digital7';
    src: url(Font/Digital7-rg1mL.ttf);
}

html {
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: rgb(205,255,93);
background: linear-gradient(135deg, rgba(205,255,93,1) 0%, rgba(161,235,255,1) 50%, rgba(230,150,221,1) 100%);
}

.calculator-container {
    background-image: linear-gradient(to bottom, #fad0c4 0%, #ffd1ff 100%);;
    border: solid #00c6fb 10px;
    box-shadow: 8px 8px  #006986;
    border-radius: 25px;
    height: 650px;
    width: 450px;
    padding: 30px 15px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.screen {
    border: solid #ff084686 5px;
    border-radius: 25px;
    padding: 10px;
    text-align: end;
    overflow-wrap: break-word;
    font-size: 3.5em;
    background-color: rgba(255, 255, 255, 0.5);
}

.button-container {
    border: solid #ff084686 5px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px;
}


button {
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 50px;
    border: solid #f9d423 2px;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 23%;
    box-shadow: 3px 3px  #f9d52354;
}   

button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}